[Unit]
Description=Restore last bluetooth state
Requires=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=false
WorkingDirectory=/opt/bt_state
ExecStart=/opt/bt_state/bt_restore.sh

[Install]
WantedBy=multi-user.target